.accordion {
  border: none !important;
  border-radius: 0 !important;
  &__button {
    background: transparent !important;
    color: #333333 !important;
    padding: 20px 15px !important;
    &:hover {
      background: transparent !important;
    }
    &:focus {
      outline: none !important;
    }
  }
}
