.col {
  &-1 {
    width: 10%;
    padding: 0 10px;
  }
  &-2 {
    width: 20%;
    padding: 0 10px;
  }
  &-3 {
    width: 30%;
    padding: 0 10px;
  }
  &-4 {
    width: 40%;
    padding: 0 10px;
  }
  &-5 {
    width: 50%;
    padding: 0 10px;
  }
  &-6 {
    width: 60%;
    padding: 0 10px;
  }
  &-7 {
    width: 70%;
    padding: 0 10px;
  }
  &-8 {
    width: 80%;
    padding: 0 10px;
  }
  &-9 {
    width: 90%;
    padding: 0 10px;
  }
  &-10 {
    width: 100%;
    padding: 0 10px;
  }
}
