.createProject {
  background-color: $dark-bg-card;
  // height: -webkit-fill-available;
  header {
    position: static;
  }

  .ContentHeaderDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.spaceBetween {
  display: flex;
}

.searchBar {
  height: 37px;
  width: 476px;
  border-radius: 5px;
  background-color: #eaf2fb;
  position: relative;
  margin-left: 24px;
  display: flex;

  input {
    width: 100%;
    height: 100%;
    padding-left: 46px;
    &::placeholder {
      color: $text-muted;
      font-family: $font-primary;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.4px;
      line-height: 15px;
    }
  }

  svg {
    fill: $text-muted;
    position: absolute;
    top: 10px;
    left: 14px;
  }
}

.breadCrumbWrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.breadCrumb {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-submited {
    display: flex;
    height: 100%;
    > :first-child {
      border-radius: 5px 0 0 5px;
    }

    > :last-child {
      border-radius: 0px 5px 5px 0px;
    }
  }

  &__Content {
    display: flex;
    align-items: center;
    height: 40px;
    // width: 256px;

    // > :first-child {
    //   border-radius: 5px 0 0 5px;
    // }

    // > :last-child {
    //   border-radius: 0px 5px 5px 0px;
    // }
    span {
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #eaf2fb;
      color: rgba(41, 55, 66, 0.8);
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.4px;
      line-height: 15px;
      padding: 0px 21px;

      small {
        opacity: 0.5;
        color: #293742;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.4px;
        line-height: 15px;
        padding: 0px 42px 0px 20px;
      }
    }

    .active {
      background-color: $pink;
      line-height: 18px;
      color: $dark-bg-card;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.7px;
      line-height: 18px;
    }

    // .arrowRight {
    //   background-color: #c7d4e3;
    //   padding: 3px;

    //   svg {
    //     fill: $dark-bg-card;
    //   }
    // }

    // .contentBorder {
    //   border-left: 0.75px solid rgba(184, 191, 197, 0.6);
    // }
  }
}

.dateFilter {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 25px;
  background-color: #eaf2fb;
  border-radius: 5px;
  > :first-child {
    border-radius: 5px 0px 0px 5px;
  }

  > :last-child {
    border-radius: 0px 5px 5px 0px;
  }

  span {
    color: $text-muted;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 15px;
  }

  small {
    color: #b6b8d0;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 15px;
  }

  svg {
    fill: $text-muted;
  }
}

.submittedContent {
  max-width: 1280px;
  margin: 0 auto;
  min-height: calc(100vh - 387px);

  ul {
    margin-top: 24px;
  }

  &__list {
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 56px 30px 16px;
    margin-bottom: 24px;
    background-color: $dark-bg-card;
    border-radius: 5px;

    &::before {
      content: '';
      position: absolute;
      height: 56%;
      width: 5px;
      border-radius: 0 100px 100px 0;
      background-color: #a206ff;
      // box-shadow: 0 0 5px -1px #a206ff;
      left: 0;
      top: 25px;
    }

    h6 {
      opacity: 0.5;
      color: $text-primary;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1.2px;
      line-height: 21px;
    }
  }
}

.SportsItem {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 56%;
    width: 5px;
    border-radius: 0 100px 100px 0;
    background-color: #ffab15;
    // box-shadow: 0 0 5px -1px #a206ff;
    left: 0;
    top: 25px;
  }
}

.submittedItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 78%;

  h4 {
    color: $text-muted;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 15px;
    margin-bottom: 11px;
  }

  h5 {
    opacity: 0.5;
    color: #010a11;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 21px;
  }

  @media only screen and (max-width: 1100px) {
    h4 {
      font-size: 12px;
      line-height: 16px;
    }

    h5 {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.EntmentHeader {
  color: #a206ff !important;
  font-size: 16px !important;
  font-weight: 500;
  letter-spacing: 0.8px !important;
  line-height: 21px !important;
}

.sportsHeader {
  color: #ffab15 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  letter-spacing: 0.8px !important;
  line-height: 21px !important;
}

.listView {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 21%;

  > :last-child {
    background-color: $dark-bg-elevated;
    padding: 12px 24px;
    border-radius: 5px;
  }
  span {
    color: $pink;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 15px;
    cursor: pointer;
  }
}
