.react {
  &-datepicker {
    &-popper {
      z-index: 100 !important;
    }
    &-wrapper {
      .react {
        &-datepicker {
          &__input {
            &-container {
              input {
                border-right: 0.75px solid rgba(184, 191, 197, 0.6);
                font-size: 12px;
                font-weight: 600;
                border-radius: 5px 0 0 5px;
                width: 120px;
              }
            }
          }
        }
      }
      // &:last-child {
      //   .react {
      //     &-datepicker {
      //       &__input {
      //         &-container {
      //           input {
      //             // border-right: 1px solid #f3f6fa;
      //             border-right: none;
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
    }
    &__input {
      &-container {
        input {
          padding: 12px 20px;
          width: 100px;
        }
      }
    }
  }
}
