.profileWrapper {
  padding-bottom: 80px;
  .analyticsHeader {
    height: auto;
    border-bottom: none;
    .sticky {
      position: fixed;
    }
  }
  .profile {
    &-block {
      box-shadow: 0 2px 4px 0 #d0d4d7;
      position: relative;
      z-index: 2;
      max-width: 920px;
      margin: 0 auto;
      &::before {
        content: '';
        position: absolute;
        top: -75px;
        height: 150px;
        width: 190px;
        left: 0;
        background: #fff;
        border-radius: 20%;
        box-shadow: 0 2px 4px 0 #d0d4d7;
        right: 0;
        margin: 0 auto;
        z-index: -1;
      }
      form {
        position: relative;
        z-index: 2;
        padding: 90px 90px 40px;
        margin-top: 80px;
        background: #fff;
        @media screen and (max-width: $sm-screen) {
          padding: 90px 25px 40px;
        }
        .input {
          &-wrapper {
            margin: 0;
            &-top {
              margin: 0 -15px 50px;
              display: flex;
              flex-wrap: wrap;
              padding-bottom: 30px;
              border-bottom: 1px solid #eeeef1;
              @media screen and (max-width: $sm-screen) {
                margin: 0 0 30px;
                padding-bottom: 10px;
              }
            }
            &-bottom {
              display: flex;
              flex-wrap: wrap;
              margin: 0 -15px;
              @media screen and (max-width: $sm-screen) {
                margin: 0;
              }
            }
            .col {
              &-5 {
                padding: 0 15px;
                // display: flex;
                #alertMessage {
                  color: #ff1e50;
                  font-size: 12px;
                }
                @media screen and (max-width: $sm-screen) {
                  flex: 1 0 100%;
                }
                &:nth-child(odd) {
                  padding-left: 0;
                  @media screen and (max-width: $sm-screen) {
                    padding: 0;
                  }
                }
                &:nth-child(even) {
                  padding-right: 0;
                  @media screen and (max-width: $sm-screen) {
                    padding: 0;
                  }
                }
                .input {
                  &-block {
                    .react-phone-number-input {
                      input {
                        // border: none;
                        width: 100%;
                        border-radius: 5px;
                        color: #293742;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 0.4px;
                        line-height: 15px;
                        padding: 0px 16px;
                        height: 40px;
                        background-color: #eaf2fb;

                        flex: 1 0 30%;
                        margin-right: 10px;

                        @media screen and (max-width: $sm-screen) {
                          margin: 0 0 20px;
                          flex: 1 0 100%;
                        }
                      }

                      &__error {
                        color: #ff1e50;
                        font-size: 12px;
                        padding-left: 3%;
                      }
                    }
                    .onError {
                      border: 1px solid #ff1e50;
                    }
                    &-sm {
                      input[type='number'] {
                        flex: 1 0 30%;
                        margin-right: 10px;

                        @media screen and (max-width: $sm-screen) {
                          margin: 0 0 20px;
                          flex: 1 0 100%;
                        }
                      }
                      input[type='tel'] {
                        flex: 1 0 60%;
                        @media screen and (max-width: $sm-screen) {
                          flex: 1 0 100%;
                        }
                      }
                    }
                  }
                }
              }
              &-10 {
                padding: 0;
              }
            }
          }
          &-action {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
            flex: 1 0 100%;
            .btn {
              &__primary {
                @media screen and (max-width: $sm-screen) {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    &-image {
      height: 130px;
      width: 180px;
      margin: -155px auto 50px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20%;
      }
      .edit {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        bottom: 0;
        right: 0;
        z-index: 2;
        background: $white;
        cursor: pointer;
        svg {
          fill: $accent-primary;
        }
      }
      &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
      }
    }
  }
}
