.sentiment {
  display: flex;
  justify-content: space-between;
  padding: 0 6vh;

  &-heading {
    display: flex;
    align-items: center;
    flex: 0 0 30%;
    color: #655e5f;
    font-size: 23px;
    font-weight: 600;
  }

  &-details {
    display: flex;
    flex: 0 0 70%;
  }

  &-status {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > :last-child {
      border: none;
    }

    & > div {
      flex: 0 0 28%;
      border-right: 1px solid #999;
    }
    path {
      fill: #fff;
    }

    label {
      display: flex;
      align-items: center;
      span {
        width: 4vh;
        height: 4vh;
        background-color: #999;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin-right: 1vh;
      }

      h5 {
        font-weight: 600;
        font-size: 16px;
      }

      h4 {
        margin-right: 1vh;
        font-weight: 600;
        font-size: 20px;
      }

      small {
        font-weight: 600;
        font-size: 11px;
      }
    }
  }
}
