.Sign-in-wrapper {
  min-height: 100vh;
  width: 100%;
  background: url('../images/Bitmap.png') no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .header-left {
    display: inline-flex;
    width: 210px;
    // height: 25px;
    margin: 55px 0px 0px 105px;
    padding: 0px;
    @media screen and (max-width: $sm-screen) {
      margin: 25px 10px;
      width: 125px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .Welcome-wrapper {
    margin: 100px 157px auto 135px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      margin: 100px 50px auto 50px;
    }
    @media screen and (max-width: $sm-screen) {
      flex-wrap: wrap;
      margin: 0;
      padding: 0 15px;
    }
  }
  .Welcome-content {
    width: 450px;
    margin-top: 40px;
    @media screen and (max-width: $sm-screen) {
      margin: 45px 0;
    }
    .Content-Heading {
      // width: 374px;
      color: #ffffff;
      font-size: 34px;
      letter-spacing: 1.7px;
      line-height: 43px;
      margin-bottom: 45px;
      @media screen and (max-width: $sm-screen) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    .Content-paragraph {
      // margin-top: 43px;
      margin-bottom: 25px;
      opacity: 0.5;
      color: $white;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.89px;
      line-height: 28px;
      @media screen and (max-width: $sm-screen) {
        margin-top: 30px;
        font-size: 12px;
        line-height: 16px;
        width: 90%;
      }
    }
  }
  .Form-SignIn {
    width: 450px;
    border-radius: 5px;
    background-color: $white;
    // box-shadow: 0 50px 50px -15px $shadowGrey;
    padding: 31px 65px 49px 65px;
    @media screen and (max-width: 1024px) {
      width: 350px;
    }
    @media screen and (max-width: $sm-screen) {
      width: 100%;
      padding: 30px 15px 50px;
      margin-bottom: 60px;
    }

    .form-heading {
      color: $text4;
      font-size: 34px;
      letter-spacing: 1.7px;
      line-height: 43px;
      margin-bottom: 33px;
      // margin-left: 16px;
    }

    .input-block {
      margin-bottom: 40px;
      position: relative;
      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }

    .form-control {
      height: 40px;
      width: 320px;
      border-radius: 5px;
      background-color: $inputGrey;
      padding: 12px 16px;
      &::placeholder {
        height: 15px;
        width: 138px;
        opacity: 0.5;
        color: $text5;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.4px;
        line-height: 15px;
      }
      @media screen and (max-width: $sm-screen) {
        width: 100%;
      }
    }
    // #userName {
    //   margin-bottom: 40px;
    // }

    .onError {
      border: 1px solid $lightpink;
      // margin-bottom: 9px;
    }
    #alertMessage {
      display: flex;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.4px;
      line-height: 15px;
      color: $lightpink;
      // margin-bottom: 15px;
      position: absolute;
      bottom: -20px;
    }
    .form_label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 37px;
      margin-top: 15px;

      .checkbox_label {
        display: flex;
        align-items: center;
        line-height: 16px;

        #Remember_me {
          opacity: 0.5;
          color: #293742;
          font-family: Montserrat;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.4px;
          line-height: 15px;
        }
        [type='checkbox']:not(:checked),
        [type='checkbox']:checked {
          position: absolute;
          left: -9999px;
        }
        [type='checkbox']:not(:checked) + label,
        [type='checkbox']:checked + label {
          position: relative;
          padding-left: 26px;
          cursor: pointer;
          margin-bottom: 0;
        }

        /* checkbox aspect */
        [type='checkbox']:not(:checked) + label:before,
        [type='checkbox']:checked + label:before {
          content: '';
          position: absolute;
          left: 0;
          top: -1px;
          width: 16px;
          height: 16px;
          background: $green;
          border-radius: 4px;
        }
        /* checked mark aspect */
        [type='checkbox']:not(:checked) + label:after,
        [type='checkbox']:checked + label:after {
          content: '';
          position: absolute;
          top: 5.5px;
          left: 4px;
          color: #fff;
          width: 8px;
          height: 4px;
          border-width: 0 0 1px 1px;
          border-style: solid;
          border-color: #fff;
          transform: rotate(-30deg) translate(-10px, 20px);
        }
        /* checked mark aspect changes */
        [type='checkbox']:not(:checked) + label:after {
          opacity: 0;
          transform: scale(0);
        }
        [type='checkbox']:checked + label:after {
          opacity: 1;
          // transform: scale(1);
          transform: rotate(-45deg);
        }
        /* disabled checkbox */
        [type='checkbox']:disabled:not(:checked) + label:before,
        [type='checkbox']:disabled:checked + label:before {
          box-shadow: none;
          border-color: $green;
          background-color: $green;
        }
        [type='checkbox']:disabled:checked + label:after {
          color: #fff;
        }
        [type='checkbox']:disabled + label {
          color: #fff;
        }

        /* hover style just for information */
        label:hover:before {
          border: 2px solid $green !important;
        }
      }
      .option_section {
        cursor: pointer;
        color: $lightpink;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.4px;
        line-height: 15px;
      }
    }
    button {
      width: 100%;
      height: 37px;
      font-size: 14px;
    }
  }
}
