.socialTimeline-x-axis {
  path {
    display: none;
  }
  text {
    fill: #0000008f;
    font-size: 14px;
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
  }
  line {
    stroke: #0000001f;
  }
}

.socialTimeline-y-axis {
  path {
    display: none;
  }
  text {
    display: none;
  }
  line {
    stroke: #0000001f;
  }
}

.socialTimeline-yAxis-lable,
.socialTimeline-xAxis-lable {
  font-size: 16px;
  font-weight: 500;
}

.hoverCircle {
  opacity: 0;
}

.socialTimelineTooltip {
  position: absolute;
  background: #000000;
  padding: 15px;
  padding-bottom: 0px;
  height: 68px;
  width: 151px;
  border-radius: 2px;
  display: none;
  p {
    color: #a0a0a0;
    font-size: 11px;
    padding-bottom: 3px;
  }
}

.socialTimeline-context-y-axis {
  display: none;
}

.socialtimeline {
  margin-left: 0% !important;
}

.socialCrumbs {
  // width: 95%;
  // font-family: 'Poppins', sans-serif;

  // margin: 72px auto 0px;
  // @media (max-width: 525px) {
  //   margin: 32px auto 0px;
  // }
  // &__container {
  //   padding: 0px 55px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   transition: padding 0.3s ease-in-out 0s;
  //   @media (max-width: 1230px) {
  //     padding: 0px 10px;
  //   }
  //   @media (max-width: 525px) {
  //     flex-direction: column;
  //   }
  // }
  // &.sticky {
  //   position: relative;
  //   background-color: #fff;
  //   top: 84px;
  //   width: 100%;
  //   z-index: 3;
  //   margin: 0px;
  //   box-shadow: 2px 14px 9px 0 rgba(0, 0, 0, 0.11);
  //   .socialCrumbs__container {
  //     padding: 0 70px;
  //     height: 48px;
  //     max-width: 100%;
  //     transition: padding 0.3s ease-in-out 0s;
  //     @media (max-width: 1230px) {
  //       padding: 0 10px;
  //     }
  //     @media (max-width: 525px) {
  //       height: 100px;
  //     }
  //   }
  //   .socialCrumbs__filter {
  //     margin-top: -10px;
  //     @media (max-width: 525px) {
  //       margin-top: 30px;
  //     }
  //   }
  // }
  // &__tabs {
  //   span {
  //     position: relative;
  //     padding: 0px 10px;
  //     color: rgba(20, 15, 18, 0.6);
  //     font-size: 16px;
  //     font-weight: 500;
  //     letter-spacing: 0.4px;
  //     line-height: 25px;
  //     margin-right: 30px;
  //     @media (max-width: 966px) {
  //       margin-right: 10px;
  //     }
  //     @media (max-width: 660px) {
  //       font-size: 14px;
  //     }
  //     cursor: pointer;
  //     &::after {
  //       position: relative;
  //       content: '';
  //       left: 0px;
  //       bottom: -12px;
  //       right: 0px;
  //       height: 3px;
  //       opacity: 0;
  //       background-color: rgba(188, 21, 26, 1);
  //     }

  //     &.active,
  //     &:hover {
  //       color: rgba(20, 15, 18, 1);
  //     }
  //     &.active::after,
  //     &:hover::after {
  //       transition: opacity 0.3s ease-in-out;
  //       opacity: 1 !important;
  //     }
  //   }
  // }
  // &__filter {
  //   display: flex;
  //   align-items: center;
  //   @media (max-width: 525px) {
  //     width: 100%;
  //     margin-top: 30px;
  //     justify-content: space-between;
  //   }
  // }
  &__toggle {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    @media (max-width: 966px) {
      margin-left: 10px !important;
    }
    @media (max-width: 525px) {
      margin-bottom: 20px;
    }
    h4 {
      color: #140f12;
      opacity: 0.4;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.7px;
      line-height: 18px;
      &.active {
        opacity: 1;
      }
    }
    .switch {
      position: relative;
      display: inline-block;
      min-width: 52px;
      max-width: 52px;
      height: 26px;
      margin: 0px 16px;
      @media (max-width: 966px) {
        margin: 0px 10px;
      }
    }
    label {
      margin-bottom: 0px;
    }
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #d5d5d5;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 0px;
      bottom: 0px;
      background-color: #bc151a;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #880e12;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      transform: translateX(26px);
    }
    .slider.round {
      border-radius: 15px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
  // .platformMenu {
  //   position: relative;
  //   cursor: pointer;
  //   min-width: 150px;
  //   margin-left: 70px;
  //   @media (max-width: 966px) {
  //     margin-left: 40px;
  //   }
  //   @media (max-width: 767px) {
  //     min-width: 112px;
  //     margin-left: 20px;
  //   }
  //   @media (max-width: 660px) {
  //     min-width: 105px;
  //     margin-left: 10px;
  //   }
  //   @media (max-width: 525px) {
  //     min-width: 100px;
  //     margin-left: 0px;
  //   }
  //   &-item {
  //     position: relative;
  //     display: flex;
  //     justify-content: space-between;
  //     &__dropdown {
  //       position: absolute;
  //       top: 32px;
  //       width: 100%;
  //       z-index: 10;
  //       background-color: #fff;
  //       border: 1px solid rgba(131, 131, 131, 0.7);
  //       border-top: none;
  //       padding: 0px 15px;

  //       li {
  //         font-size: 14px;
  //         display: flex;
  //         align-items: center;
  //         justify-content: space-evenly;
  //         height: 40px;
  //         color: #a3b7c4;
  //         border-bottom: 1px solid #e2eaf4;
  //         @media screen and (max-width: $sm-screen) {
  //           background: #eaeef8;
  //         }
  //         &:hover {
  //           color: #000000;
  //         }
  //       }
  //       li.active {
  //         color: #000000;
  //       }
  //     }
  //   }
  //   h5 {
  //     color: rgba(20, 15, 18, 0.6);
  //     font-size: 12px;
  //     letter-spacing: 0.4px;
  //     line-height: 18px;
  //   }
  //   span {
  //     color: rgba(20, 15, 18, 1);
  //     font-size: 16px;
  //     font-weight: 600;
  //     letter-spacing: 0.4px;
  //     line-height: 25px;
  //     @media (max-width: 660px) {
  //       font-size: 13px;
  //     }
  //   }
  // }
  // .platformFitter span {
  //   cursor: pointer;
  //   height: 42px;
  //   width: 42px;
  //   border-radius: 5px;
  //   color: #fff;
  //   background-color: #bc151a;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   margin-left: 45px;
  //   @media (max-width: 767px) {
  //     margin-left: 20px;
  //   }
  // }

  &__date-range {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: flex;
    margin-left: 30px;
    height: 45px;
    -webkit-box-align: center;
    align-items: center;
    width: 406px;
    border: 0.5px solid rgba(151, 151, 151, 0.4);
    border-radius: 5px;
    background-color: #ffffff;
    @media (max-width: 1260px) {
      width: 500px;
    }
  }
}

.socialdaterange {
  &__icon {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 45px;
    min-width: 64px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    background-color: #bc151a;
  }
  &__block {
    width: 80%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  &__dropdown {
    position: relative;
    padding-right: 20px;
    z-index: 99;
    .DateRangePicker {
      top: 31px;
    }
  }
  &__sec {
    width: 50%;
    text-align: center;
    padding-left: 10px;
    color: rgba(5, 23, 38, 1);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
  }
}

.socialripple {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  box-shadow: none;
}
.socialripple:hover {
  background: #890b0f radial-gradient(circle, transparent 1%, #890b0f 1%)
    center/15000%;
}
.socialripple:active {
  background-color: #fff;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}
.socialrippleLight {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  box-shadow: none;
}
.socialrippleLight:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%)
    center/15000%;
  path {
    fill: #890b0f !important;
  }
}
.socialrippleLight:active {
  background-color: #890b0f;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
  path {
    fill: #890b0f !important;
  }
}

.sentimenttooltip {
  width: 15vw;
  height: 5vh;
  border-bottom: 1px solid gray;
  font-weight: 600;
  text-align: center;
  padding-top: 4%;
  font-size: 1vw;
}
.sentimentBox {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid #262626;
  width: 180px;
  // border-radius: 10px;
  padding: 10px;
  background-color: white;
}
.sentimentBoxText {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 30px;
}
.sentimentBoxColor {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  height: 30px;
}
.sentimentBoxColorFb {
  width: 12px;
  height: 12px;
  background-color: #3b579d;
  margin-right: 5px;
}
.sentimentBoxColorTwitter {
  width: 12px;
  height: 12px;
  background-color: #43b1f4;
  margin-right: 5px;
}
.sentimentBoxColorInsta {
  width: 12px;
  height: 12px;
  background-color: #c333af;
  margin-right: 5px;
}
.sentimentBulletImage {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
.sentimentBoxHeader {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.fontColor {
  // font-weight: bold;
  color: #000 !important;
  font-size: 18px;
}
.fontColor2 {
  // font-weight: bold;
  color: #000 !important;
  font-size: 16px;
}

@import "https://fonts.googleapis.com/css?family=Rubik&display=swap";

@font-face {
  font-family: Rubik;
  src: url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
}

* {
  font-family: Rubik;
}

.TooptipTimeline_divider {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid #262626;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
.Tooptip2Timeline_divider {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid #262626;
  min-width: 300px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: white;
  opacity: 1;
}

.width100 {
  width: 100%;
}

.hr {
  width: 100%;
  border: 1px dashed;
}
