.detailsheader {
  // background-color: gray;
  height: 5vh;
}

//////// Popup start ////////////////
.modalPopup {
  background-color: #fafafa;
  max-width: 1200px;
  min-width: 1200px;
  margin: 3% auto 0 auto;
  height: 865px;
  padding: 20px;
  border-radius: 20px;
  outline: none;
}

.filterSocial {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

.filterSearch {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -40px;
}

.filterSocialIcons {
  margin: 0 10px;
}

.filterSocialIcons:hover {
  background: #ffffff;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff !important;
}

.fbIcon {
  /* color: #3b5998; */
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.instaIcon {
  /* color: #c333af; */
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.twitterIcon_table {
  /* color: #28a8e0; */
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.fbIconClick {
  color: #3b5998;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
}
.instaIconClick {
  color: #c333af;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
}
.twitterIconClick {
  color: #28a8e0;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
}

.filterList {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.filterLists_table {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 50px;
  width: 250px;
  cursor: pointer;
}

.filterListsCheck {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  height: 50px;
  width: 250px;
  cursor: pointer;
}

.filterLists:hover {
  background: #ffffff;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff !important;
}

.filterListsIcon {
  margin: 0 10px;
}

.filterListsIcon2 {
  margin-right: 5px;
}

.filterListsText {
  width: 100%;
}

.tableHead {
  display: flex;
  align-items: center;
  margin: 2% 0;
  border-radius: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  height: 50px;
  background-color: #8080804f;
}

/* .tableHead:hover {
    background: #ffffff;
    box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff !important;
  } */

.tableRows {
  height: 560px;
  overflow-y: scroll;
}

// .tableRows::-webkit-scrollbar {
//   display: none;
// }

.modalDivideName {
  width: 25%;
  margin-left: 110px !important;
  display: flex;
  cursor: pointer;
  color: black !important;
}
.modalDivideValue {
  width: 15%;
  display: flex;
  cursor: pointer;
  color: black !important;
  justify-content: center;
}
.modalDivideNumber {
  width: 15%;
  display: flex;
  cursor: pointer;
  color: black !important;
  justify-content: center;
}
.modalDivideGraph {
  width: 20%;
  color: black !important;
}
.formControl {
  width: 100%;
}

//////// Popup end ////////////////

/////// Detail Card Start /////////////////

.root_cardUi {
  min-width: 200px;
  margin-bottom: 20px !important;
  max-width: 1200px;
  margin: auto;
  max-height: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  box-shadow: none !important;
  border-radius: 20px !important;
  border: 1px solid #314b6b !important;
}

.root_cardUi:hover {
  background: #ffffff;
  box-shadow: 5px 5px 10px #890b0f, -5px -5px 10px #ffffff !important;
}

.logoBrand {
  width: 70px !important;
  height: 70px !important;
  margin: 0 20px;
}
.logoBrandHash {
  width: 40px !important;
  height: 40px !important;
  margin: 0 20px;
}
.logoBrandIndex {
  width: 70px !important;
  height: 70px !important;
  margin: 0 20px;
  // z-index: 10;
  border: 1px solid;
  background-color: white;
}
.logoBrandIndex2 {
  width: 70px !important;
  height: 70px !important;
  margin: 0 20px 0 -40px;
  // z-index: 9;
  border: 1px solid;
  background-color: white;
}
.logoBrandIndex3 {
  width: 40px !important;
  height: 40px !important;
  margin: 0 20px 0 -40px;
  // z-index: 8;
  border: 1px solid;
  background-color: brown !important;
  margin-top: 2vh;
}

.brand {
  width: 3em;
  height: auto;
  margin: 0 0 0 2em;
}

.info {
  font-size: 14px;
  color: #000 !important;
  margin-bottom: 10px;
}

.mainValue {
  color: #000;
  text-align: center;
}

.brandDetails {
  display: flex;
  margin-top: 10px;
}
.brandDetailsHash {
  display: flex;
  margin-top: 5px;
}
.brandDetailsIcon {
  display: flex;
  width: 50%;
  align-items: center;
}
.divideBrand {
  width: 25%;
}
.divideBrandHash {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divideValue {
  width: 15%;
}
.divideValueHash {
  width: 20%;
}
.divideNumber {
  width: 15%;
}
.divideGraph {
  width: 20%;
}
.overflowHide {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 25px;
  font-size: 1.2em;
  font-weight: 700;
}

.brandsHash {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 110px;
  align-items: center;
}
.timestampHash {
  display: flex;
}
.timestampHashIcon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 10px;
}

/////// Detail Card End /////////////////

.popupInfoCard {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background-color: #add8e6ab;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.popupInfoCard:hover {
  box-shadow: 5px 5px 10px #890b0f, -5px -5px 10px #ffffff !important;
}
.popupInfoCardDiv2 {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.MuiPopover-paper {
  max-height: 200px !important;
}
