.twentieth {
  &-block {
    padding: 180px 0;
  }
}

.static {
  &-content {
    color: rgba(58, 91, 113, 0.8);
    font-weight: 500;
    font-family: Montserrat;
    line-height: 28px;

    p {
      margin-bottom: 30px;
    }

    ol {
      padding-left: 60px;
      &.sublist {
        margin-top: 30px;
        li {
          list-style: lower-alpha;
        }
      }
      li {
        list-style: decimal;
        margin-bottom: 30px;
      }
    }
  }
  &-title {
    font-weight: 700;
    color: rgba(58, 91, 113, 1);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &-subtitle {
    font-weight: 700;
    color: rgba(58, 91, 113, 1);
    margin-bottom: 10px;
  }
  &-highlights {
    padding-left: 60px;
    span {
      font-weight: 700;
      color: rgba(58, 91, 113, 1);
    }
  }
}
