.footerbuttonstyle {
    display: inline-block;
    padding: 12px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: $accent-primary;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px $accent-primary;
    width: 150px;
  }
  

  .copyrights {
    width: 42%;
    text-align: end;
}
.MuiButton-containedSecondary:hover {
  background-color: $accent-primary !important;
}
.footer-bottom{
    padding: 5px 0 !important;
    margin-left: 5% !important;
}
#footer{
  @media (min-width: 1281px) {    /*  ##Device = Desktops  ##Screen = 1281px to higher resolution desktops */
       //margin-top: 10px !important;
       min-height: 20vh !important;
  }
  @media (min-width: 1025px) and (max-width: 1280px) {   /* ##Device = Laptops, Desktops   ##Screen = B/w 1025px to 1280px  */
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {   /*  ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {  /* ##Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
    
  }
  
  @media (min-width: 481px) and (max-width: 767px) {  /*  ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px */
    
  }
  
  @media (min-width: 320px) and (max-width: 480px) {  /*   ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px */
    
  }
}
